<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime maxRequestLength="1048576"/>
  </system.web>
  <!-- For SOAP help page navigate to http://[address]:[port]/ServiceBooktore.svc -->
  <!-- For REST help page navigate to http://[address]:[port]/ServiceBookstore.svc/Rest/help -->
  <system.serviceModel>
    <services>
      <service name="WebserviceAppNutre.ServiceAppNutre" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint address="" binding="basicHttpBinding" contract="WebserviceAppNutre.IServiceAppNutre"/>
        <endpoint address="Rest" binding="webHttpBinding" behaviorConfiguration="web"
                 contract="WebserviceAppNutre.IServiceAppNutre" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
    </services>
    <behaviors>
      
      <serviceBehaviors>
        <behavior name="MyServiceTypeBehaviors">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
      
      <endpointBehaviors>
        <behavior name="web">
          <webHttp automaticFormatSelectionEnabled="true" faultExceptionEnabled="true" helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>